Repository deepomicslab/plasmid_web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix

fix bug
  docs/Analysis_introduction.md
  docs/Database_download.md
  docs/Database_introduction.md
Due: none

fix bug
  src/pages/index.vue
Due: eslint --fix

fix bug
  docs/Figures/Plasmid_database.png
  public/png/Plasmid_database.jpg
Due: none

fix bug
  docs/Database_download.md
  docs/Database_explore.md
  docs/Database_introduction.md
  docs/Figures/Plasmid_analysis.png
  docs/Figures/Plasmid_database.png
  docs/README.md
  docs/Visualization_demo.md
  public/docs copy/Analysis.md
  public/docs copy/Database.md
  public/png/Plasmid_analysis.jpg
  public/png/Plasmid_database.jpg
  src/layouts/components/SiteHeader.vue
  src/pages/database/function/crispr.vue
  src/pages/database/index.vue
  src/pages/database/plasmid/arg.vue
  src/pages/database/plasmid/crispr.vue
  src/pages/database/plasmid/detail.vue
  src/pages/download/index.vue
  src/pages/index.vue
  src/pages/task/result/annopipline/crispr.vue
Due: eslint --fix

fix bug
  docs/Database_download.md
  docs/Database_explore.md
  docs/Database_introduction.md
  docs/README.md
  src/pages/database/plasmid/crispr.vue
Due: eslint --fix

fix bug
  public/png/zzc.jpg
  src/pages/contact/index.vue
Due: eslint --fix

fix some bugs;
  src/pages/database/cluster/index.vue
  src/pages/database/filter/result.vue
  src/pages/database/function/antimicrobial_resistance.vue
  src/pages/database/function/crispr.vue
  src/pages/database/function/sm.vue
  src/pages/database/function/sp.vue
  src/pages/database/function/transmembrane.vue
  src/pages/database/function/trna.vue
  src/pages/database/function/virulent.vue
  src/pages/database/host/index.vue
  src/pages/database/host/list.vue
  src/pages/database/host/result.vue
  src/pages/database/index.vue
  src/pages/database/plasmid/index.vue
  src/pages/database/protein/index.vue
  src/pages/database/structural/terminators.vue
  src/pages/download/index.vue
Due: eslint --fix

fix bug
  src/pages/analysis/annopipline/index.vue
  src/pages/analysis/comparison/index.vue
Due: eslint --fix

fix bug
  src/layouts/components/SiteHeader.vue
  src/pages/analysis.vue
  src/pages/analysis/comparison/index.vue
  src/pages/analysis/comparison/phylogenetic/index.vue
  src/pages/database/filter/index.vue
  src/pages/database/plasmid/detail.vue
  src/pages/database/plasmid/index.vue
Due: eslint --fix

fix bug on pdb
  src/layouts/components/SiteHeader.vue
  src/pages/database/host/index.vue
  src/pages/database/protein/detail copy.vue
Due: eslint --fix

fix bug
  docs/Database_download.md
  docs/Database_introduction.md
  docs/README.md
  public/cloudTag.html
  public/docs copy/Database.md
  public/docs copy/Database_download.md
  public/docs copy/README.md
  public/png/Plasmid_analysis.jpg
  public/png/Plasmid_database.jpg
  public/png/Plasmid_vis.jpg
  src/layouts/components/SiteHeader.vue
  src/pages/analysis.vue
  src/pages/analysis/comparison/index.vue
  src/pages/analysis/comparison/phylogenetic/index.vue
  src/pages/database/filter/result.vue
  src/pages/database/function/antimicrobial_resistance.vue
  src/pages/database/function/crispr.vue
  src/pages/database/function/sm.vue
  src/pages/database/function/sp.vue
  src/pages/database/function/transmembrane.vue
  src/pages/database/function/trna.vue
  src/pages/database/function/virulent.vue
  src/pages/database/index.vue
  src/pages/database/plasmid/index.vue
  src/pages/database/protein/index.vue
  src/pages/download/index.vue
  src/pages/index.vue
  src/utils/filteroption.ts
  src/utils/overview.ts
  src/utils/phage.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

fix bug
  src/pages/analysis/comparison/index.vue
  src/pages/database/filter/index.vue
  src/pages/database/host/result.vue
  src/pages/database/plasmid/index.vue
  src/utils/filteroption.ts
Due: eslint --fix

fix bug
  src/pages/database/filter/index.vue
Due: eslint --fix

fix bug
  src/pages/analysis/comparison/index.vue
  src/pages/database/filter/result.vue
  src/pages/database/plasmid/index.vue
Due: eslint --fix

fix bug
  src/pages/analysis/comparison/index.vue
Due: eslint --fix

fix bug
  public/png/Plasmid_vis.jpg
  src/pages/database/function/antimicrobial_resistance.vue
  src/pages/database/function/crispr.vue
  src/pages/database/function/sm.vue
  src/pages/database/function/sp.vue
  src/pages/database/function/transmembrane.vue
  src/pages/database/function/trna.vue
  src/pages/database/function/virulent.vue
  src/pages/database/plasmid/detail.vue
  src/pages/download/index.vue
Due: eslint --fix

fix bug
  docs/Ana_figures/comparison_modules.png
  docs/Analysis_introduction.md
  docs/DB_figures/arg_list.png
  docs/DB_figures/cluster_list1.png
  docs/DB_figures/cluster_list2.png
  docs/DB_figures/crispr_list.png
  docs/DB_figures/download_interface.png
  docs/DB_figures/host_list1.png
  docs/DB_figures/host_list2.png
  docs/DB_figures/overview1.png
  docs/DB_figures/overview2.png
  docs/DB_figures/overview3.png
  docs/DB_figures/plasmid_list.png
  docs/DB_figures/plasmid_list_download.png
  docs/DB_figures/protein_list1.png
  docs/DB_figures/protein_list2.png
  docs/DB_figures/secondary_metabolites.png
  docs/DB_figures/sequence_filter.png
  docs/DB_figures/signalp_list1.png
  docs/DB_figures/signalp_list2.png
  docs/DB_figures/transmembrane_list.png
  docs/DB_figures/trna_list.png
  docs/DB_figures/vf_list.png
  docs/Database_download.md
  docs/Database_introduction.md
  docs/Figures/Plasmid_analysis.png
  docs/Figures/Plasmid_database.png
  docs/Figures/Plasmid_visualization.png
  docs/README.md
Due: none

fix bug
  docs/README.md
Due: none

fix bug
  src/layouts/components/SiteHeader copy.vue
  src/layouts/components/SiteHeader.vue
Due: eslint --fix

fix bug
  src/layouts/components/SiteHeader.vue
Due: eslint --fix

fix bug
  docs/Figures/Plasmid_database.png
  public/png/Plasmid_database.jpg
  src/pages/database/cluster/index.vue
  src/pages/database/plasmid/index.vue
  src/pages/database/protein/detail.vue
  src/pages/task/demotask.vue
Due: eslint --fix

fix bug
  src/pages/database/plasmid/index.vue
Due: eslint --fix

fix bug
  src/pages/database/plasmid/detail.vue
Due: eslint --fix

fix bug
  docs/Figures/Plasmid_database.png
  public/png/Plasmid_database.jpg
  src/pages/index.vue
Due: eslint --fix

remove yarn.lock
  yarn.lock
Due: none

Path conditions:
  eslint --fix: (any of: *.vue) or (any of: *.{js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{htm,html,css,sss,less,scss,sass}
